@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 11px -1px #747474;
}

.logo{
    width: 214px;
    height: 53px;
}

.links{
    display: flex;
    gap: 46px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #657786;
}

.link:hover{
    color: #C0996B;
}

#home,
#aboutUs,
#menu,
#contacts{
    color: #C0996B;
}

.main{
    background: url('../imgs/hero-bg.jpeg');
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.aboutUs,
.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.aboutUsTitle,
.menuTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.aboutUsSpan,
.menuSpan{
    font-family: 'Dancing Script', cursive;
    color: #C0996B;
    font-weight: 400;
    font-size: 64px;
}

.aboutUsText{
    font-family: 'Open Sans', sans-serif;
    width: 670px;
    color: #657786;
}

.aboutUsContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menuText{
    font-family: 'Open Sans', sans-serif;
    color: #657786;
    width: 1000px;
    text-align: center;
    font-size: 18px;
}

.menuButton{
    background: #C0996B;
    border-radius: 3px;
    width: 400px;
    height: 80px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
}